<div *ngFor="let message of received_messages">
            <!-- <li> -->
                <button type="button" class="btn btn-default btn-block" (click)="showContentMessage(message._id)">
                    <table class="table">
                        <thead>
                            <tr>
                                <td width="50%"><b>{{message.email_recontact}}</b></td>
                                <td width="30%">{{message.productName}}
                                </td>
                                <td width="20%">{{message.adddate}}</td>
                            </tr>
                        </thead>
                    </table>
                </button>
                <div id="{{message._id}}" class="collapse" style="display: none;">
                    
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="80%">{{message.content}}
                                </td>
                                <td width="20%"><b>Read: {{message.seen}}</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- </li> -->
</div>