<!-- pour le header -->
<div *ngIf="exis">
        <app-connected-site-header received="{{received_messages.length}}"></app-connected-site-header>
</div>
<div *ngIf="!exis">
        <div style="width:60%;margin:auto;text-align:center;">
                <img alt="Actualiser" src="assets/images/icons/angular.svg" width="150px" height="150px">
                <h2 style="color:#e5e9e5a6;font-size:4em; ">Welcome to Angular Project IPS 2018</h2>
                <div id="ComponIndex">
                        <button routerLink="login-form" (click)="hidecompon()" class="btn btn-success btn-lg btn-block">Login</button>
                        <button routerLink="applicationForm" (click)="hidecompon()" class="btn btn-success btn-lg btn-block">Create user</button>
                </div>
        </div>
</div>
<div style="width: 100%;margin:auto">
        <router-outlet></router-outlet>
</div>